body {
	margin: 0;
	font-family: Arial;
}

header {
	background-color: #ffe8d6;
	border-bottom: 1px solid black;
	padding-left: 1%;
	padding-right: 30px;
	height: 8vh;
}

footer {
	background-color: #ffe8d6;
	height: 150px;
}

h2 {
	margin-top: 50px;
	font-size: 40px;
	font-weight: normal;
}

h3 {
	font-size: 30px;
	font-weight: normal;
	margin-bottom: 10px;
	margin-top: 10px;
}

a {
	color: black;

}

.display {
	display: flex;
}

.centrar {
	align-items: center;
	justify-content: space-between;
}

.centretotal {
	align-items: center;
	justify-content: center;
}

.grey {
	color: gray;
}

.minpadding {
	padding-left: 70px;
	padding-right: 70px;
}

.logoipsum {
	height: 43px;
	widht: 200px;
}

.pagines {
	margin-right: 50px;
	padding-right: 500px;
}

.pagina {
	margin-left: 30px;
}

.margintop {
	margin-top: 30px;
}

.user {
	margin: 10px;
	height: 35px;
	width: 35px;
}

.inicicentral {
	background-color: #F0EDED;
	height: 92vh;

}

.minmagic {
	flex-direction: column;
}

.womargin {
	margin: 0;
}

.titleinici {
	font-size: 70px;
}

.botomes {
	height: 40px;
	width: 130px;
	color: #CB997E;
	border: 3px solid #CB997E;
	border-radius: 30px;
}

.botoblanc {
	background-color: white;
}

.imatgeinici {
	height: 300px;
	width: 500px;
}

.categories {
	height: 60px;
	padding-right: 40%;
	border-bottom: 2px solid black;
}

.lastrecipe {
	padding-left: 20px;
	padding-right: 20px;
}

.imatgerecipe {
	height: 354px;
	width: 590px;
	background-color: #f4eae5;
}

.suscribe {
	background-color: #cb997e;
	height: 200px;
	border-radius: 30px;
	margin-left: 70px;
	margin-right: 70px;
	margin-top: 50px;
}

.inputemail {
	border: 1px solid #ffe8d6;
	border-radius: 30px;
	background-color: #cb997e;
	height: 35px;
	width: 300px;
	font-size: 20px;
	padding-left: 10px;
	padding-top: 0;
	color: black;
}

.botoemail {
	background-color: #ffe8d6;
	height: 38px;
	width: 150px;
	border-radius: 30px;
	border: 1px solid #ffe8d6;
	position: relative;
	bottom: 2px;
	right: 40px;
}

.recipe {
	justify-content: end;
	flex-direction: column;
	background-color: #f4eae5;
	height: 400px;
	width: 550px;
}

.autor {
	margin-top: 40px;
	background-color: #ddbea9;
	height: 300px;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

.perfilautor {
	height: 200px;
	width: 200px;
	margin-right: 100px;
}

#nomautor {
	font-size: 40px;
}