body {
	margin: 0;
	font-family: Arial;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #ffe8d6;
	border-bottom: 1px solid black;
	padding-left: 1%;
	padding-right: 30px;
	height: 8vh;
}

h2 {
	font-size: 40px;
}

h3 {
	font-size: 30px;
	font-weight: normal;
}

.grey {
	color: gray;
}

.minpadding {
	padding-left: 70px;
	padding-right: 30px;
}

.logoipsum {
	height: 43px;
	widht: 200px;
}

.pagines {
	display: flex;
	margin-right: 50px;
	padding-right: 500px;
}

.pagina {
	margin-left: 30px;
}

.margintop {
	margin-top: 30px;
}

.user {
	margin: 10px;
	height: 35px;
	width: 35px;
}

.inicicentral {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #F0EDED;
	height: 92vh;

}

.minmagic {
	flex-direction: column;
}

.womargin {
	margin: 0;
}

.titleinici {
	font-size: 70px;
}

.botomes {
	height: 40px;
	width: 130px;
	color: #CB997E;
	border: 3px solid #CB997E;
	border-radius: 30px;
}

.botoblanc {
	background-color: white;
}

.imatgeinici {
	height: 300px;
	width: 500px;
}

.categories {
	display: flex;
	height: 60px;
	align-items: center;
	justify-content: space-between;
	padding-right: 40%;
	border-bottom: 2px solid black;
}

.lastestrecipes {
	display: flex;
	justify-content: center;
	align-items: center;
}

.imatgerecipe {
	height: 354px;
	width: 590px;
	background-color: #f4eae5;
}
